@import "tailwindcss";


 :root {
  --color-primary-dark: #0B9F94; /* Teal */
  --color-primary-light: #00F6FF; /* Cyan */
  --color-text-primary: #000000; /* Black */
  --color-text-secondary: #4B4B4B; /* Gray */
}

.bg-primary-gradient {
  background: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Tailwind utility bindings */
.animate-scrollLeft {
  animation: scrollLeft linear infinite;
}
.animate-scrollRight {
  animation: scrollRight linear infinite;
}
.animate-scrollUp {
  animation: scrollUp linear infinite;
}
.animate-scrollDown {
  animation: scrollDown linear infinite;
}
